# Core
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1



# Date/time deps
python-dateutil==2.9.0.post0
pytz==2024.1
tzdata==2024.1

# Web scraping
requests==2.32.3
beautifulsoup4==4.12.3

# NLP + Summarization
nltk==3.9.1
transformers==4.44.2
torch==2.2.2
sentencepiece==0.2.0

# App framework
streamlit==1.37.0
